body {
  font-family: "Oswald", sans-serif;
}

header {
  text-align: center;
  font-size: 48px;
}

article {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  -moz-box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666;
  background: #f2f2f2;
  overflow: hidden;
}

article .background {
  height: 100%;
  width: 100%;
  display: block;
}

article > h1 {
  position: absolute;
  width: 100%;
  font-size: 48px;
  top: 335px;
  left: 250px;
}

article .header-caption {
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: rgba(255, 255, 255, 1);
}
