article {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
}

article .background {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
