body {
  font-family: "Oswald", sans-serif;
}

header {
  text-align: center;
  font-size: 48px;
}

article {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  display: block;
  -moz-box-shadow: 0 0 12px #666;
  -webkit-box-shadow: 0 0 12px #666;
  background: #f2f2f2;
  overflow: hidden;
}

article .background {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 0;
}
